.stakater {
  font-family: 'Montserrat', sans-serif;font-size: 32pt;
  font-weight: lighter;
}

.clear-y {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

.avatar {
  width: 160px;
  height: 160px;
  margin: 0 60px 16px;
  padding: 12px;
  border: solid 2px #ff9f32;
}

.divider-text {
  font-weight: 700;
  font-size: 14pt;
  color: #FFFFFFFF
}

h1 {
  font-size: 28pt;
  font-weight: bolder;
}
h2 {
  font-size: 22pt;
  color: #5E5E5F;
  font-weight: bolder;
}
h3 {
  font-size: 18pt;
  font-weight: bolder;
}
h4 {
  font-size: 14pt;
  font-weight: bolder;
}

h6 {
  font-size: 14pt;
  font-weight: normal;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 0.7em;
}
