@import "paper-css/paper.css";
@import url('https://fonts.cdnfonts.com/css/montserrat');
@media print {
  body * {
    visibility: hidden;
  }
  #printableDiv, #printableDiv * {
    visibility: visible;
  }
  #printableDiv {
    position: absolute;
    left: 0;
    top: 0;
  }
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.A4 {
  position: relative;
}

.A4 .header {
  width: 210mm;
  padding: 10mm;
}

.A4 .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 210mm;
}
